body {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  margin: 5px 10px;
  padding: 0;
  letter-spacing: 0.15em;
}

a {
  color:inherit;
  text-decoration:none;
}

#map, #action, #tools {
  position: absolute;
}

#map {
  top: 10px; left: 50%;
  margin: 0 0 0 -375px;
  width: 240px;
  height: 350px;
  overflow: auto;
}

  #map div {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    opacity: .7;
    transition:all .3s ease;
  }

  #map .here,
  #map div:hover {
    opacity: 1;
  }

  #map0 { top:0; left:0; width:50px; height:30px; }
  #map1 { top:30px; left:10px; width:40px; height:20px; }
  #map2 { top:0; left:50px; width:70px; height:70px; }
  #map3 { top:0; left:120px; width:20px; height:140px; }
  #map4 { top:30px; left:140px; width:80px; height:20px; }
  #map5 { top:100px; left:140px; width:80px; height:40px; }
  #map6 { top:70px; left:50px; width:70px; height:40px; }
  #map7 { top:50px; left:140px; width:30px; height:50px; }
  #map8 { top:110px; left:50px; width:70px; height:30px; }
  #map9 { top:140px; left:0; width:240px; height:20px; }

  #map .clear { background: #0f0; }
  #map .geese { background: #f90; }


  #map .locked { display: none; }

#action {
  top: 10px; left: 50%;
  margin: 0 0 0 -125px;
  width: 500px;
  height: 350px;
}

#action.clear { background: #0F0; }
#action.geese { background: #F90; }

  #action p {
    margin: 10px 15px;
    line-height: 160%;
    letter-spacing: 0.15em;
  }

  #choicebox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: stretch;
  }

  #choicebox a {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    padding: 0.5em 1em;
    line-height: 1.5em;
    color: #000;
    border: 2px solid #000;
    opacity: 0.5;
    margin: 1px;
    transition: all .3s ease;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  #choicebox a:hover {
    opacity: 1;
  }

  .clear #geesemessage { display: none; }
  .geese #geesemessage { display: block; }
